(lp0
(dp1
S'fill'
p2
S'orange'
p3
sS'coords'
p4
(lp5
F17.0
aF309.0
aF77.0
aF369.0
asS'tags'
p6
(S'_shape:oval'
p7
S'_internal_name:target'
p8
S'_internal_name:target'
p9
S'command:clear_shots'
p10
tp11
sa.